html.bd-designMode-true .c-accordian-container--area {
	min-height: 100px;
}

.acc-tab {
    display: block;

    font-weight: bold;
    color: #000;

    text-align: center;
    font-size: 26px;
    line-height: 39px;
    text-decoration: none;

    background-color:#eeeeee;
    border: 1px solid #f3f3f3;

    /* gradient */
    background-color: #ffffff; /* Old browsers */
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
}

.acc-panel {
    display: none;
}

.bd-designMode-true .acc-panel {
    min-height: 60px;
    border: 5px solid #f3f3f3;
    display: block;
}
